<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- HEAD: VIEWPORT, CSS ETC -->

    <%- include("./partials/head") %>
    
</head>
<body>

    <!-- HEADER -->
                                    <%- include("./partials/header") %>


    <main class="main-1">
                                    <!-- CORPO DA PÃGINA -->
        
                                    <%- include("./partials/paglogin") %>


                                    
    </main>

<!-- FOOTER -->
<%- include("./partials/footer") %>
<!-- SCROLL REVEAL -->
<script src="https://unpkg.com/scrollreveal"></script>

<!-- JAVASCRIPT PRINCIPAL -->
    <script src="/javascripts/script.js"></script>
</body>
</html>