<!-- FERRAMENTAS -->

<section class="ferramentas section" id="ferramentas">
  <h2 class="section-title">Funcionalidades</h2>

  <div class="ferramentas_container">
      <div class="ferramentas_img">
          <img src="/images/work2.jpg" alt="">
      </div>
      <div class="ferramentas_img">
          <img src="/images/work3.jpg" alt="">
      </div>
      <div class="ferramentas_img">
          <img src="/images/work4.jpg" alt="">
      </div>
  </div>
</section>