<!-- HEADER -->
<header class="header-1">
  <nav class="nav bd-grid">
      <div>
          <a href="#inicio" class="nav_logo"><i class='bx bx-coin' ></i> moeda-line</a>
      </div>
<div class="nav_menu" id="nav-menu">
<ul class="nav_list">
  <li class="nav_item"><a href="/#inicio" class="nav_link active">Inicio</a></li>
  <li class="nav_item"><a href="/#sobre" class="nav_link">Sobre</a></li>
  <li class="nav_item"><a href="/#ferramentas" class="nav_link">Funcionalidades</a></li>
  <li class="nav_item"><a href="/#contato" class="nav_link">Contato</a></li>
  <li class="nav_item"><a href="/login" class="nav_link">Acesso a ferramenta</a></li>
  <li class="nav_item"><a href="/cadastro" class="nav_link">Cadastro</a></li>
</ul>
</div>

          <div class="nav_toggle" id="nav-toggle">
              <i class='bx bx-menu'></i>
          </div>
      </div>
  </nav>
</header>