<!-- INICIO -->
<section class="inicio bd-grid" id="inicio">
    <div class="inicio_data">
        <h1 class="inicio_titulo">Somos a<br><span class="inicio_titulo-color">Moeda-Line</span>!
            <br>A solução para sua empresa.</h1>
        
    </div>

    <div class="inicio_social">
        <a href="#" class="inicio_social-icone" target="_blank"><i class='bx bxl-linkedin' ></i></a>
        <a href="#" class="inicio_social-icone" target="_blank"><i class='bx bxl-facebook-square'></i></a>
    </div>

    <div class="inicio_img">
        <img src="/images/logo2.png" alt="Logo da empresa">
    </div>
</section>