<!-- INICIO LOGIN -->
<section class="inicio_cadastro bd-grid" id="inicio">
    <div class="inicio_data">
        <h1 class="inicio_titulo">Acesse a <span class="inicio_titulo-color">Ferramenta</span>!
            </h1>

            <div class="form-cadastro">

                <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="/login" method="POST">

                    <label for="email-address">E-mail</label>
                     <input type="email" name="email" id="email-address" placeholder="email@email.com" required="">
                       <fieldset id="fs-frm-inputs">
                     <label for="senha">Senha</label>
                     <input type="password" name="senha" id="senha" placeholder="Senha" required="">
                     
                   <input type="submit" value="Entrar"><br>
                   <a href="/cadastro">Ainda não é Cadastrado? Clique aqui e cadastre-se!</a>
                 </form>
        
    </div>