<!-- SOBRE -->
<section class="sobre section" id="sobre">
    <h2 class="sobre_titulo"><span class="section-title">Sobre nós</span></h2>

    <div class="sobre_container bd-grid">
        <div class="sobre_img">
            <img src="/images/work1.jpg" alt="">
        </div>

        <div>
            <h2 class="sobre_subtitulo">Moeda-Line</h2>
            <p class="sobre_texto">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate porro animi earum odit quibusdam maxime cum sequi quaerat distinctio mollitia optio deleniti soluta, dolorem magnam sapiente tenetur aperiam quasi? Molestias. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla beatae, commodi assumenda expedita maxime minus officia quo rerum dolorem architecto fugit impedit quasi earum quos amet. Laboriosam obcaecati necessitatibus ratione?</p>
            
        </div>
    </div>
</section>